a {
  text-decoration: none;
  color: $color_black;
}

.title_small {
  font-size: 2.8rem;
  margin-bottom: 2.5rem;

  &:hover {
    color: $color_grey;
  }

  &--link {
    cursor: pointer;
  }
}

.title_big {
  font-size: 3.8rem;
  margin: 0 auto 3rem;
  text-transform: uppercase;
}