.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 35rem;
  align-items: center;
  position: relative;
  cursor: pointer;

  &__image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button {
    width: 80%;
    opacity: 0;
    position: absolute;
    top: 25.5rem;
    transition: opacity .7s;
  }

  &:hover &__image {
    opacity: 0.8;
  }

  &:hover .custom-button {
    opacity: 0.85;
  }

  &__footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
  }

  &__name {
    width: 90%;
    margin-bottom: 1.5rem;
  }

  &__price {
    width: 10%;
  }
}