.custom-button {
  min-width: 16.5rem;
  width: auto;
  height: 5rem;
  letter-spacing: 0.5px;
  line-height: 5rem;
  padding: 0 3.5rem 0 3.5rem;
  font-size: 1.5rem;
  background-color: $color_black;
  color: $color_white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: $color_white;
    color: $color_black;
    border: $black_border;
  }

  &.google-sign-in {
    background-color: $color_blue_light;
    color: $color_white;
    padding: 0 10px;

    &:hover {
      background-color: $color_blue_dark;
      border: none;
    }
  }

  &.inverted {
    background-color: $color_white;
    color: $color_black;
    border: $black_border;

    &:hover {
      background-color: $color_black;
      color: $color_white;
      border: none;
    }
  }
}