.header {
  position: relative;
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;

  @include respond(phone) {
    padding: 2rem 3rem;
  }

  .logo-container {
    width: 7rem;
  }

  &__options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__option {
    font-size: $default_font_size;
    padding: 1rem 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
  }
}