//Font-size
$default_font_size: 1.6rem;

//Border
$black_border: 1px solid black;

//Colors
$color_black: black;
$color_white: white;
$color_red: red;

$color_grey: grey;
$color_grey_dark_1: #636767;
$color_grey_dark_2: #4a4a4a;

$color_blue_dark: #4285f4;
$color_blue_light: #357ae8;